body {
    font-family: 'Lato Thin 100', sans-serif;
}

header {
    background: #FFFFFF;
    padding: 20px 0;
}

.logo{
    position: relative;
    width: 940px;
    margin: auto 0;
}
/*.logobackground{
    WIP - update necessary 
}*/

.standard-input{
    display: block;
    margin: 10px 10px 10px;
    padding: 10px 50px;
    width: 30%;
}

.services{
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    width: 30%;
}
.meet{
    display: inline-block;
    margin: 10px 10px auto;
}

.checkbox{
    margin: 20px 20px;
}

.send{
    width: 20%;
    padding: 20px 0;
    background: limegreen;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.send:hover {
    background: green;
    transform: scale(1.2);
}

footer{
    text-align: center;
    background: url("logo_footer.png");
    padding: 180px 0;
    width: 1300px;
}

.copyright{
    color: #00000;
    font-size: 20px;
    margin: 20px 0;
}    

form {
    margin: 20px 20px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 10px 20px;
}