body {
    font-family: 'Lato Thin 100', sans-serif;
}

header {
    background-image: linear-gradient(to left, rgba(50,205,50), rgba(240,255,255));
    padding: 20px 0;
}

.logo{
    position: relative;
    width: 940px;
    margin: auto 0;
}
.phrase{
    position: relative;
    width: 100px;
    margin:0 600px;
    /* making update*/
}

.standard-input{
    display: block;
    margin: 10px 10px 10px;
    padding: 10px 50px;
    width: 30%;
}

.services{
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    width: 30%;
    cursor: pointer;
}
.meet{
    display: inline-block;
    margin:  0 20px auto;
    background: linear-gradient(lightgreen, lightgrey);
    color: #4F4F4F;
    font-weight: bold;
    font-size: 18px;
    border:none;
    border-radius:5px;
    cursor: pointer;
}

.checkbox{
    margin: 10px 10px;
}

.send{
    width: 20%;
    padding: 20px 0;
    background: limegreen;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.send:hover {
    background: green;
    transform: scale(1.2);
}

/*footer{
    text-align: center;
    background: url("Modern-Farming-Technology.jpg");
    padding: 180px 0;
}*/
.copyright{
    color: #00000;
    font-size: 15px;
    margin: 0 500px;
}    

form {
    margin: 20px 20px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 10px 20px;
}